select, option, button{
    color: black;
}

.main{

    header{
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
    select{
        width: 200px;
    }
    button{
        width: fit-content;
    }
}