*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

h1{
    font-size: 100px;
    color: #FF0;
    font-family: Vijaya, Gabriola, Tahoma;
}

div{
    width: 500px;
    height: 250px;
    background-color: #2C6700;
    display: table;
    text-align: center;
    border-radius: 2px 30px;
    box-shadow: 5px 10px 3px #92CD00;

}