.header-section{
    width: 100%;
    height: 6.125rem;
    background-color: #512DA8;
    display: flex;
    justify-content: center;
    align-items: center;


    .link-style{
        width: fit-content;
        color: #ffffff;
        font-size: 2.5rem;
        text-decoration: none;
    }
}