*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-color: cadetblue;
    width: 500px;
    display: block;
    margin: 0 auto;
}

form{
    padding: 24px;
    background-color: beige;
    margin: 0 auto;
}


label{
    margin-top: 24px;

}

button{
    margin-top: 10px;
}

fieldset{
    margin-bottom: 22px;
    width: 400px;
}