.card {

    position: relative;
    margin-top: 24px;

}

.preview {

    height: 200px;
    object-fit: cover;

}

.favorite {

    color: rgba(0, 0, 0, 0.5);
    font-size: 32px;
    position: absolute;
    top: 12px !important;
    right: 12px !important;
    transition: .2s ease-in-out;

}

.favorited {

    color: rgb(255, 208, 0);

}

.favorite:hover {

    color: rgb(255, 208, 0);
    cursor: pointer;

}